
@{
    ViewBag.Title = "Sua";
}

<h2>Sửa nhân viên</h2>
<table>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td>Tên nhân viên: </td>
            <td>@Html.TextBox("HoTen")<font color="red">@ViewBag.Loi1</font></td>
        </tr>
        <tr style="height:40px">
            <td>Phòng: </td>
            <td>@Html.TextBox("Phong")<font color="red">@ViewBag.Loi2</font></td>
        </tr>
        <tr style="height:40px">
            <td>Lương: </td>
            <td>@Html.TextBox("Luong")<font color="red">@ViewBag.Loi3</font></td>
        </tr>
        <tr style="height:40px">
            <td colspan="2" style="text-align:center">
                <input type="submit" value="Lưu" />
                @Html.ActionLink("Về danh sách","Index")
            </td>
        </tr> 
    }
</table>

