
@{
    ViewBag.Title = "Index";
}

<h2>Xem nhân viên</h2>
@using(Html.BeginForm())
            {
                <p>
                    Tìm nhân viên: @Html.TextBox("search")
                    <input type="submit" value="Tìm" />
                </p>
            }
<table border="1" style="font-size: 15px">
    <tr>
        <th>Mã nhân viên</th>
        <th>Họ tên nhân viên</th>
        <th>Tên phòng</th>
        <th>@Html.ActionLink("Lương","Index", new {sort = ViewBag.Luong})</th>
        <th></th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.MaNV</td>
                    <td>@item.HoTen</td>
                    <td>@item.Phong</td>
                    <td>@item.Luong</td>
                    <td>
                        @Html.ActionLink("Sửa","Sua",new {id = item.MaNV.Trim()})|
                        @Html.ActionLink("Chi Tiết","ChiTiet",new {id = item.MaNV.Trim()})|
                        @Html.ActionLink("Xóa","Xoa",new {id = item.MaNV.Trim()})
                    </td>
                </tr>
            }
</table>
@Html.ActionLink("Thêm mới", "Them", "NhanVien");

