
@{
    ViewBag.Title = "Sua";
}

<h2>Sua</h2>
<table>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td>Mã nhân viên: </td>
            <td>@Model.MaNV</td>
        </tr>
        <tr style="height:40px">
            <td>Họ tên: </td>
            <td>@Html.TextBox("HoTen")<font color="red">@ViewBag.loi1</font></td>
        </tr>
        <tr style="height:40px">
            <td>Phòng: </td>
            <td>@Html.TextBox("Phong")<font color="red">@ViewBag.loi2</font></td>
        </tr>
        <tr style="height:40px">
            <td>Lương: </td>
            <td>@Html.TextBox("Luong")<font color="red">@ViewBag.loi3</font></td>
        </tr>
        <tr style="height:40px">
            <td colspan="2" align="center">
                <input type="submit" value="Lưu" />
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Về danh sách", "Index")
